@font-face {
  font-family: "iconfont"; /* Project id 2686964 */
  src: url('iconfont.woff2?t=1626758077185') format('woff2'),
       url('iconfont.woff?t=1626758077185') format('woff'),
       url('iconfont.ttf?t=1626758077185') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e89f";
}

.icon-lock:before {
  content: "\e600";
}

